<div class="text-layout">
  <h3>Decimal Pipe</h3>
  <p>Se llama number pero es para trabajar con decimales</p>
  <a pButton
     target="_blank"
     class="p-button-warning mb-3"
     href="https://angular.io/api/common/DecimalPipe">Más info</a>
  <div class="grid">
    <div class="col-12 md:-col-6 lg:col-4">
      <p-card header="Ventas netas"
              subheader="{{ this.ventasNetas }} | number">
      <i class="pi pi-dollar"></i>
      {{this.ventasNetas | number }}
      </p-card>
    </div>
    <div class="col-12 md:-col-6 lg:col-4">
      <p-card header="Ventas netas suma"
              subheader="{{ this.ventasNetas }} + 1111500.55 | number">
      <i class="pi pi-dollar"></i>
      {{this.ventasNetas + 1111500.55 | number }}
      </p-card>
    </div>
    <div class="col-12 md:-col-6 lg:col-4">
      <p-card header="Ventas netas suma locale en"
              subheader="{{ this.ventasNetas }} + 1111500.55 | number">
      <i class="pi pi-dollar"></i>
      {{this.ventasNetas + 1111500.55 | number:'':'en' }}
      </p-card>
    </div>
    <div class="col-12 md:-col-6 lg:col-4">
      <p-card header="Valor pi"
              subheader="{{ this.valorPi }} | number:'1.1-2'">
      <i class="pi pi-reply"></i>
      {{this.valorPi | number:'1.1-2' }}
      </p-card>
    </div>
    <div class="col-12 md:-col-6 lg:col-4">
      <p-card header="Valor pi"
              subheader="{{ this.valorPi }} | number:'3.1-5'">
      <i class="pi pi-reply"></i>
      {{this.valorPi | number:'3.1-5' }}
      </p-card>
    </div>
    <div class="col-12 md:-col-6 lg:col-4">
      <p-card header="Valor pi locale en"
              subheader="{{ this.valorPi }} | number:'1.2-2':'en'">
      <i class="pi pi-reply"></i>
      {{this.valorPi | number:'1.2-2':'en' }}
      </p-card>
    </div>
  </div>
</div>

<div class="text-layout">
  <h3>Currency Pipe</h3>
  <p>El currency por defecto es US$</p>
  <a pButton
     target="_blank"
     class="p-button-warning mb-3"
     href="https://angular.io/api/common/CurrencyPipe">Más info</a>
    <div class="grid">
      <div class="col-12 md:-col-6 lg:col-4">
        <p-card header="Ventas brutas"
                subheader="{{ this.ventasNetas }} | currency">
        <!-- <i class="pi pi-dollar"></i> -->
        {{this.ventasNetas | currency }}
        </p-card>
      </div>
      <div class="col-12 md:-col-6 lg:col-4">
        <p-card header="Ventas brutas"
                subheader="{{ this.ventasNetas }} | currency:'USD'">
        <!-- <i class="pi pi-dollar"></i> -->
        {{this.ventasNetas | currency:'USD' }}
        </p-card>
      </div>
      <div class="col-12 md:-col-6 lg:col-4">
        <p-card header="Ventas brutas"
                subheader="{{ this.ventasNetas }} | currency:'':'ARS$'">
        <!-- <i class="pi pi-dollar"></i> -->
        {{this.ventasNetas | currency:'ARS$' }}
        </p-card>
      </div>
      <div class="col-12 md:-col-6 lg:col-4">
        <p-card header="Ventas brutas"
                subheader="{{ this.ventasNetas }} | currency:'USD':'symbol-narrow':'1.5-6'">
        <!-- <i class="pi pi-dollar"></i> -->
        {{this.ventasNetas | currency:'USD':'symbol-narrow':'1.5-6' }}
        </p-card>
      </div>

    </div>
</div>

<div class="text-layout">
  <h3>Percent Pipe</h3>
  <p>El uso de la coma o punto viene dado por el LOCALE_ID al igual que con los números y moneda local, es decir, si configuraste tu local en es-AR se utiliza coma en vez de punto para definir los decimales, sin embargo puedes alterarlo pasanadole el locale que quieres mostrar como parámetro</p>
  <a pButton
     target="_blank"
     class="p-button-warning mb-3"
     href="https://angular.io/api/common/PercentPipe">Más info</a>
    <div class="grid">
      <div class="col-12 md:-col-6 lg:col-4">
        <p-card header="Porcentaje"
                subheader="{{ this.porcentaje }} | percent">
        <!-- <i class="pi pi-dollar"></i> -->
        {{this.porcentaje | percent }}
        </p-card>
      </div>
      <div class="col-12 md:-col-6 lg:col-4">
        <p-card header="Porcentaje"
                subheader="{{ this.porcentaje }} | percent:'2.2-2'">
        <!-- <i class="pi pi-dollar"></i> -->
        {{this.porcentaje | percent:'2.2-2' }}
        </p-card>
      </div>
      <div class="col-12 md:-col-6 lg:col-4">
        <p-card header="Porcentaje"
                subheader="{{ this.porcentaje }} | percent:'2.2-2':'en'">
        <!-- <i class="pi pi-dollar"></i> -->
        {{this.porcentaje | percent:'2.2-2':'en' }}
        </p-card>
      </div>
    </div>
</div>

<div class="text-layout pb-5">
  <h3>Importante:</h3>
  <p>para agregar traducción local a nuestros pipes,  debemos agregar lo siguiente <em>(omitiendo las comillas
      dobles)</em> a nuestro módulo:
  </p>
  <pre>
    {{ "import { LOCALE_ID, NgModule } from '@angular/core';" }}
    {{ "import { registerLocaleData } from '@angular/common';" }}

    // importar locales
    import localeEsAr from '@angular/common/locales/es-AR';

    providers: {{"[{ provide: LOCALE_ID, useValue: 'es-Ar' }]" }},
  </pre>
   <p>para definir por defecto el pipe currency a nuestra moneda local  agregamos lo siguiente <em>(omitiendo las comillas
      dobles)</em> a nuestro módulo:
  </p>
  <pre>
    {{ "import { DEFAULT_CURRENCY_CODE, LOCALE_ID, NgModule } from '@angular/core';" | json }}

    providers: {{"[{ provide: DEFAULT_CURRENCY_CODE, useValue: 'ARS' }]" | json }},
  </pre>
  <p>Recuerda que providers es un array y si ya tienes devinido el LOCALE_ID, agrega el nuevo provide como otro item</p>
</div>
