<h2>Por país</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="buscar()">
      <input type="text"
             name="termino"
             [(ngModel)]="termino"
             class="form-control"
             placeholder="Buscar país...">
    </form>
  </div>
</div>

<hr>

<div *ngIf="hayError"
     class="alert alert-danger">
  No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="!hayError" class="row">
  <div class="col">
    <table class="table table-hover table-striped">
      <thead>
        <tr class="table-primary">
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>bandera</td>
          <td>nombrePais</td>
          <td>123456789</td>
          <td>
            <a href="javascript:void(0)">Ver...</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>