<div class="row">
  <div class="col">
    <!-- disparamos el custom event onBuscar
    El $event es el termino que recibe el input dentro de app-pais-input -->
    <app-pais-input (onBuscar)="buscar($event)"
                    (onDebounce)="appSugerencias.sugerencias($event)"
                    placeholder="Buscar país..."></app-pais-input>
  </div>
</div>

<app-sugerencias #appSugerencias [tipoSugerencia]="tipoSugerencia" [paisesSugeridos]="paisesSugeridos"
  [mostrarSugerencias]="mostrarSugerencias" (onSugerencia)="sugerencias($event)" (onBuscarPaisesSugeridos)="buscar($event)"></app-sugerencias>

<app-error [hayError]="hayError" [termino]="termino"></app-error>

<div class="loader-wrapper" *ngIf="loading; else divPais">
  <div id="loader" class="loader"></div>
</div>

<ng-template #divPais>
  <div *ngIf="paises.length > 0" class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</ng-template>