<h2>Por región</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- disparamos el custom event onBuscar
    El $event es el termino que recibe el input dentro de app-pais-input -->
    <app-pais-input (onBuscar)="buscar($event)"
                    (onDebounce)="sugerencias($event)"
                    placeholder="Buscar región..."></app-pais-input>
  </div>
</div>

<hr>

<div *ngIf="hayError"
     class="alert alert-danger">
  No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>