<h5>Seleccione la región</h5>

<hr>

<div class="row mb-4">
  <div class="col">
    <div class="btn-group w-100">
      <button *ngFor="let region of regiones"
            class="btn btn-outline-primary"
            (click)="activarRegion(region)"
            [ngClass]="{active: regionActiva === region}">
      {{ region }}
    </button>
    </div>
  </div>
</div>

<div class="loader-wrapper" *ngIf="loading; else divPais">
  <div id="loader" class="loader"></div>
</div>

<ng-template #divPais>
  <div *ngIf="paises.length > 0" class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</ng-template>