$white: #fff;
$black-bg: #121113;
$info: #61dafb;
$purple: #6f1ad1;
$gray-bg: lighten($color: $black-bg, $amount: 10%);
$lite-gray: lighten($color: $black-bg, $amount: 20%);

* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html, body {
  
  color: $white;
  background-color: $purple;
  margin: 20px;
  -webkit-font-smoothing: antialiased;
}


dd {
  font-weight: bold;
}

button {
  background-color: $black-bg;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  &:disabled  {
    background-color: $lite-gray;
    &:hover {
      background-color: $lite-gray;
    }
  }
}

button:hover {
  background-color: $gray-bg;
}

button:focus{ 
  outline: none;
}

.p-1 {
  padding: 1px;
}

hr {
  margin-top: 35px;
}