<div class="text-layout">
  <h3>Pipes básicos</h3>
  <p>Pipes incluídos en Angular - Usualmente incluidos en common Module.</p>
  <a pButton
     target="_blank"
     class="p-button-warning mb-3"
     href="https://angular.io/guide/pipes-overview">Más info</a>
  <div class="grid">
    <div class="col-4">
      <p-card header="Uppercase"
              subheader="{{ this.nombreLower}} | uppercase">
      {{this.nombreLower | uppercase }}
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="Lowercase"
              subheader="{{ this.nombreUpper}} | uppercase">
      {{this.nombreUpper | lowercase }}
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="Titlecase"
              subheader="{{ this.nombreCompleto}} | titlecase">
      {{this.nombreCompleto | titlecase }}
      </p-card>
    </div>
  </div>
</div>
