<h2>Búsquedas</h2>
  <hr>
  <div class="list-group">
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
      Buscar país
    </a>
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink="region"
        routerLinkActive="active">
      Por región
    </a>
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink="capital"
        routerLinkActive="active">
      Por capital
    </a>
  </div>