<h2 class="animate__animated animate__bounceInLeft">Search</h2>
  <hr class="animate__animated animate__bounceInLeft">
  <div class="list-group animate__animated animate__bounceInUp">
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
      Search by country name
    </a>
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink="region"
        routerLinkActive="active">
      Search by region
    </a>
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink="capital"
        routerLinkActive="active">
      Search by capital
    </a>
  </div>