<div class="d-flex justify-content-between animate__animated animate__bounceInLeft">
  <h2 class="me-5">Búsquedas</h2>
  <select class="form-select" aria-label="Default select example" (change)="changeLang($event)">
    <option selected>Idioma</option>
    <option [selected]="lang === 'en'" value="en">English</option>
    <option [selected]="lang === 'de'" value="de">Deutch</option>
    <option [selected]="lang === 'ar'" value="ar">عربى</option>
  </select>
</div>
  <hr class="animate__animated animate__bounceInLeft">
  <div class="list-group animate__animated animate__bounceInUp">
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">
      Buscar país
    </a>
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink="region"
        routerLinkActive="active">
      Buscar región
    </a>
    <a class="list-group-item"
        href="javascript:void(0)"
        routerLink="capital"
        routerLinkActive="active">
      Buscar capital
    </a>
  </div>