<div class="loader-wrapper" *ngIf="!pais; else divPais">
  <div id="loader" class="loader"></div>
</div>

<ng-template #divPais>
  <div class="row animate__animated animate__bounceInRight">
    <div class="col-12">
      <h1>{{ pais.name.common }}</h1>
      <hr>
    </div>
  </div>

  <div class="row animate__animated animate__bounceInLeft">
    <div class="col-4">
      <div class="loader-wrapper" *ngIf="!pais.flags; else divFlags">
        <div id="loader" class="loader"></div>
      </div>
      <ng-template #divFlags>
        <picture>
          <source [srcset]="pais.flags.svg" type="image/svg+xml">
          <img [src]="pais.flags.png" alt="pais.name.common" class="img-thumbnail">
        </picture>
      </ng-template>
      <div class="loader-wrapper" *ngIf="!pais.coatOfArms; else divCoats">
        <div id="loader" class="loader"></div>
      </div>
      <ng-template #divCoats>
        <picture>
          <source [srcset]="pais.coatOfArms.svg" type="image/svg+xml">
          <img [src]="pais.coatOfArms.png" alt="pais.name.common" class="img-thumbnail">
        </picture>
      </ng-template>
    </div>
    <div class="col animate__animated animate__bounceInRight">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Capital: </strong>{{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong>Populaion: </strong>{{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Region: </strong>{{ pais.region }} | {{ pais.subregion }}
        </li>
        <li class="list-group-item">
          <strong>languages: </strong>
          <span *ngFor="let language of languages;let i = index">
            {{ language.value }}<span *ngIf="i < (languages.length - 1)">
              |
            </span>
          </span>
        </li>
        
        <li class="list-group-item">
          <strong>Currency: </strong>
          <span *ngFor="let currency of currencies;let i = index">
            <small class="symbol">{{ currency.symbol }}</small>
            {{ currency.name }} <span *ngIf="i < (currencies.length - 1)">
              |
            </span>
          </span>
        </li>
        <li class="list-group-item" *ngIf="pais.unMember">
          <strong>UN Member</strong>
        </li>
        <li class="list-group-item">
          <a [href]="pais.maps.googleMaps" target="_blank">View in Google maps</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="animate__animated animate__bounceInUp">
    <h3>Translated name</h3>
    <div class="row">
      <div class="col">
        <span *ngFor="let translation of translations" class="badge bg-primary me-1">
          {{ translation.common }}
        </span>
      </div>
    </div>
  </div>
</ng-template>
