<div class="loader-wrapper" *ngIf="!pais; else divPais">
  <div id="loader" class="loader"></div>
</div>

<ng-template #divPais>
  <div class="row animate__animated animate__bounceInRight">
    <div class="col-12">
      <h1>{{ pais.name.common }}</h1>
      <hr>
    </div>
  </div>

  <div class="row animate__animated animate__bounceInLeft">
    <div class="col-4">
      <picture>
        <source [srcset]="pais.flags.svg" type="image/svg+xml">
        <img [src]="pais.flags.png" alt="pais.name.common" class="img-thumbnail">
      </picture>
      <picture>
        <source [srcset]="pais.coatOfArms.svg" type="image/svg+xml">
        <img [src]="pais.coatOfArms.png" alt="pais.name.common" class="img-thumbnail">
      </picture>
    </div>
    <div class="col animate__animated animate__bounceInRight">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Capital: </strong>{{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong>Region: </strong>{{ pais.region }} | {{ pais.subregion }}
        </li>
        <li class="list-group-item">
          <strong>Idiomas: </strong>
          <span *ngFor="let language of languages;let i = index">
            {{ language.value }}<span *ngIf="i < (languages.length - 1)">
              |
            </span>
          </span>
        </li>
        <li class="list-group-item">
          <strong>Moneda: </strong>
          <span *ngFor="let currency of currencies;let i = index">
            <small>({{ currency.symbol }})</small>
            {{ currency.name }} <span *ngIf="i < (currency.length - 1)">
              |
            </span>
          </span>
        </li>
        <li class="list-group-item">
          <strong>Capital: </strong>{{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong>Población: </strong>{{ pais.population | number }}
        </li>
        <li class="list-group-item" *ngIf="pais.unMember">
          <strong>Pertenece a la UN </strong>
        </li>
        <li class="list-group-item">
          <a [href]="pais.maps.googleMaps" target="_blank">Ver en Google maps</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="animate__animated animate__bounceInUp">
    <h3>Traducciones</h3>
    <div class="row">
      <div class="col">
        <span *ngFor="let translation of translations" class="badge bg-primary me-1">
          {{ translation.common }}
        </span>
      </div>
    </div>
  </div>
</ng-template>
