//Colors
$primary: #7b25c1;
$secondary: #9d267f;
$success: #1db11d;
$info: #47ffe6;
$danger: #da1c5f;
$yellow: #fff454;
$orange: #e49a11;
$black: #1f0b31;
$transparent: transparent;

//Font names
$font:'CascadiaCodePL-Regular';
$font-bold:'CascadiaCode-Bold';
$font-semibold:'CascadiaCodePL-SemiBold';
$font-italic: 'CascadiaCodePL-Italic';